# <font color='blue'> DSA - Python Fundamentos - Capítulo 6 </font>

## Update e Delete

In [1]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect("dsa.db")

# Criando cursor
cur = conn.cursor()

def create_table():
    cur.execute("CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, "\
                "prod_name TEXT, valor REAL)")
    
def data_insert():
    cur.execute("INSERT INTO produtos values(10, '2016-05-02 11:42:45', 'Teclado', 90)")
    cur.commit()
    conn.close()
    cur.close()
    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_nome = "Monitor"
    new_valor = random.randrange(50,100)
    cur.execute("INSERT INTO produtos (date, prod_name, valor) values(?,?,?)", (new_date, new_prod_nome, new_valor))
    conn.commit()

def leitura_todos_dados():
    cur.execute("SELECT * FROM produtos")
    dados = cur.fetchall()
    for linha in dados:
        print(linha)
        
def leitura_registros():
    cur.execute("SELECT * FROM produtos WHERE valor > 60.0")
    for linha in cur.fetchall():
        print(linha)
        
def leitura_colunas():
    cur.execute("SELECT * FROM produtos")
    for linha in cur.fetchall():
        print(linha[3])
        
def atualizar():
    cur.execute("UPDATE produtos SET valor = 70.00 WHERE valor > 80.00")
    conn.commit()
    
def remover_dados():
    cur.execute("DELETE from produtos WHERE valor < 60.00")
    conn.commit()

In [2]:
leitura_todos_dados()

(10, '2016-05-02 11:42:45', 'Teclado', 70.0)
(11, '2016-12-15 12:32:56.545876', 'Monitor', 52.0)
(12, '2016-12-15 12:32:57.551977', 'Monitor', 76.0)
(13, '2016-12-15 12:32:58.556077', 'Monitor', 70.0)
(14, '2016-12-15 12:32:59.559178', 'Monitor', 73.0)
(15, '2016-12-15 12:33:00.564278', 'Monitor', 55.0)
(16, '2016-12-15 12:33:01.567378', 'Monitor', 50.0)
(17, '2016-12-15 12:33:02.572479', 'Monitor', 65.0)
(18, '2016-12-15 12:33:03.575579', 'Monitor', 70.0)
(19, '2016-12-15 12:33:04.581680', 'Monitor', 70.0)
(20, '2016-12-15 12:33:05.585780', 'Monitor', 70.0)

In [3]:
atualizar()

In [4]:
leitura_todos_dados()

(10, '2016-05-02 11:42:45', 'Teclado', 70.0)
(11, '2016-12-15 12:32:56.545876', 'Monitor', 52.0)
(12, '2016-12-15 12:32:57.551977', 'Monitor', 76.0)
(13, '2016-12-15 12:32:58.556077', 'Monitor', 70.0)
(14, '2016-12-15 12:32:59.559178', 'Monitor', 73.0)
(15, '2016-12-15 12:33:00.564278', 'Monitor', 55.0)
(16, '2016-12-15 12:33:01.567378', 'Monitor', 50.0)
(17, '2016-12-15 12:33:02.572479', 'Monitor', 65.0)
(18, '2016-12-15 12:33:03.575579', 'Monitor', 70.0)
(19, '2016-12-15 12:33:04.581680', 'Monitor', 70.0)
(20, '2016-12-15 12:33:05.585780', 'Monitor', 70.0)

In [5]:
remover_dados()

In [6]:
leitura_todos_dados()

(10, '2016-05-02 11:42:45', 'Teclado', 70.0)
(12, '2016-12-15 12:32:57.551977', 'Monitor', 76.0)
(13, '2016-12-15 12:32:58.556077', 'Monitor', 70.0)
(14, '2016-12-15 12:32:59.559178', 'Monitor', 73.0)
(17, '2016-12-15 12:33:02.572479', 'Monitor', 65.0)
(18, '2016-12-15 12:33:03.575579', 'Monitor', 70.0)
(19, '2016-12-15 12:33:04.581680', 'Monitor', 70.0)
(20, '2016-12-15 12:33:05.585780', 'Monitor', 70.0)

# Fim